body {
    background-color: black;
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}

button {
    background-color: #00ddfa;
	font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	border: none;
    padding: 15px 32px;
    text-align: center;	
}

.mainContainer{
	top: 20px;
}

.practiceDropdown {
	width: 10%;
	font-size: 22px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}